ul, li {
	margin: 0px;
	padding: 0px;
}


.page-bar li {
	list-style: none;
	display: inline;
}

.page-bar li:first-child>a {
	margin-left: 0px
}

.page-bar a {
	border: 1px solid #ddd;
	text-decoration: none;
	position: relative;
	float: left;
	padding: 6px 12px;
	margin-left: -1px;
	line-height: 1.42857143;
	color: #337ab7;
	cursor: pointer;
}

.page-bar a:hover {
	background-color: #eee;
}

.page-bar .active a {
	color: #fff;
	cursor: default;
	background-color: #337ab7;
	border-color: #337ab7;
}

.page-bar i {
	font-style: normal;
	color: #d44950;
	margin: 0px 4px;
	font-size: 12px;
}

.page-bar .page-con, .page-size {
	width: 50%;
	display: block;
	height: 30px;
	float: left;
	line-height: 30px;
}

.page-bar .page-con ul {
	float: right;
	padding-left: 15px;
	padding-right: 15px;
	display: inline-block;
	padding-left: 0;
}

.page-bar .page-size div {
	padding-left: 15px;
	padding-right: 15px;
	font-size: 14px;
}

a.disabled {
	color: #777;
	background-color: #fff;
	border-color: #ddd;
	cursor: not-allowed;
}

a.disabled:hover {
	background-color: #fff;
}

.clear-both {
	clear: both;
}

select {
	border: solid 1px #ddd;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	background: url("../assets/images/arrow.png") no-repeat scroll right
		center transparent;
	padding-right: 15px;
	padding-left: 15px;
	padding-top: 2px;
	padding-bottom: 2px;
}

select::-ms-expand {
	display: none;
}


.form-group { position: relative; }
      .form-group i {
        position: absolute; bottom: 10px; right: 24px; top: auto; cursor: pointer;
      }
.form-inline .form_time{
width: 400px;	
	
}
